In [1]:
import pandas as pd;
import seaborn as sns;
import matplotlib.pyplot as plt;

In [2]:
sera_data=pd.read_csv("D:\\Projects\\MoonLight-Energy-Solutions\\Data\\sierraleone.csv")
sera_data.info()
sera_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

In [8]:
sera_data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [9]:
sera_data['Timestamp'] = pd.to_datetime(sera_data['Timestamp'],errors='coerce')

In [10]:
sera_data = sera_data.sort_values(by='Timestamp').reset_index(drop=True)

In [11]:
sera_data['Timestamp'].head()
sera_data['Timestamp'].isna().sum()

np.int64(0)

In [12]:
sera_data.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [13]:
sera_data.loc[sera_data['GHI'] < 0, 'GHI'] = None
sera_data.loc[sera_data['DNI'] > 1200, 'DNI'] = None
sera_data.loc[sera_data['GHI'] > 1500, 'GHI'] = None
sera_data.loc[sera_data['DNI'] < 0, 'DNI'] = None
sera_data.loc[sera_data['DHI'] < 0, 'DHI'] = None

In [14]:
sera_data['Hour']=sera_data['Timestamp'].dt.hour
sera_data['Day']=sera_data['Timestamp'].dt.day
sera_data['Month']=sera_data['Timestamp'].dt.month
sera_data['Year']=sera_data['Timestamp'].dt.year

In [15]:
sera_data[['Timestamp','Hour','Day','Month','Year']].head()

            Timestamp  Hour  Day  Month  Year
0 2021-10-30 00:01:00     0   30     10  2021
1 2021-10-30 00:02:00     0   30     10  2021
2 2021-10-30 00:03:00     0   30     10  2021
3 2021-10-30 00:04:00     0   30     10  2021
4 2021-10-30 00:05:00     0   30     10  2021

In [3]:
sera_data['Timestamp'] = pd.to_datetime(sera_data['Timestamp'], errors='coerce')
df = sera_data.set_index('Timestamp')

In [4]:
df_daily = sera_data.resample('D', on='Timestamp').sum()
# Convert Wh/m² to kWh/m²
df_daily['GHI_kWh'] = df_daily['GHI'] / 1000
df_daily['DNI_kWh'] = df_daily['DNI'] / 1000
df_daily['DHI_kWh'] = df_daily['DHI'] / 1000

In [5]:
df_monthly = sera_data.resample('ME', on='Timestamp').mean()

In [6]:
# Diffusion Fraction: This tells us how cloudy or hazy the atmosphere is
sera_data['Diffuse_Fraction'] = sera_data['DHI'] / sera_data['GHI']

In [7]:
sera_data['Diffuse_Fraction'].describe()

c:\Users\MOON\AppData\Local\Programs\Python\Python314\Lib\site-packages\numpy\_core\_methods.py:51: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

count    5.255670e+05
mean              NaN
std               NaN
min              -inf
25%      7.557101e-01
50%      9.820006e-01
75%      1.059701e+00
max               inf
Name: Diffuse_Fraction, dtype: float64

In [8]:
#Direct Beam Strength
sera_data['Beam_Ratio'] = sera_data['DNI'] / sera_data['GHI']

In [9]:
# Step 1: Convert the time column to datetime if it's not already
sera_data['Timestamp'] = pd.to_datetime(sera_data['Timestamp'])

# Step 2: Set it as the index
sera_data.set_index('Timestamp', inplace=True)

# Step 3: Now resample and compute standard deviation
ghi_hourly_std = sera_data.resample('H').GHI.std()

C:\Users\MOON\AppData\Local\Temp\ipykernel_21492\1824586955.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ghi_hourly_std = sera_data.resample('H').GHI.std()

In [17]:
ghi_daily_std = sera_data.resample('D').GHI.std()

In [10]:
df_daily['PSH'] = df_daily['GHI_kWh']
df_daily['PSH'].describe()

count    366.000000
mean     290.024235
std       61.924517
min       -0.001700
25%      262.582575
50%      299.723650
75%      332.654825
max      413.219900
Name: PSH, dtype: float64

In [11]:
df_daily.groupby(df_daily.index.month)['PSH'].mean()

Timestamp
1     283.460732
2     316.392450
3     333.033987
4     340.765767
5     292.862635
6     288.303483
7     244.070623
8     223.125906
9     277.995753
10    287.095197
11    314.961247
12    282.867006
Name: PSH, dtype: float64

In [12]:
sera_data[['GHI', 'TModA']].corr()

            GHI     TModA
GHI    1.000000  0.923092
TModA  0.923092  1.000000

In [13]:
sera_data[['WS', 'TModA']].corr()

             WS     TModA
WS     1.000000  0.435944
TModA  0.435944  1.000000

In [18]:
summary = {
    'Annual_GHI_kWh' : df_daily['GHI_kWh'].sum(),
    'Average_PSH' : df_daily['GHI_kWh'].mean(),
    'Diffuse_Fraction_mean' : sera_data['Diffuse_Fraction'].mean(),
    'Beam_Ratio_mean' : sera_data['Beam_Ratio'].mean(),
    'GHI_hourly_std_mean' : ghi_hourly_std.mean(),
    'GHI_daily_std_mean' : ghi_daily_std.mean(),
    'Avg_Temperature' : df['TModA'].mean(),
    'Avg_Wind' : df['WS'].mean(),
    'Total_Precip_mm' : df['Precipitation'].sum(),
}

In [21]:
summary_df=pd.DataFrame([summary])

In [22]:
summary_df.to_csv("seralleon_summary.csv",index=False)