In [1]:
import pandas as pd;
import seaborn as sns;
import matplotlib.pyplot as plt;

In [2]:
togo_data=pd.read_csv("D:\\Projects\\MoonLight-Energy-Solutions\\Data\\togo.csv")
togo_data.head()
togo_data.info()
togo_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

In [3]:
togo_data['Timestamp'] = pd.to_datetime(togo_data['Timestamp'],errors='coerce')

In [4]:
togo_data = togo_data.sort_values(by='Timestamp').reset_index(drop=True)

In [5]:
togo_data['Timestamp'].head()
togo_data['Timestamp'].isna().sum()

np.int64(0)

In [6]:
togo_data.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [7]:
togo_data.loc[togo_data['GHI'] < 0, 'GHI'] = None
togo_data.loc[togo_data['DNI'] > 1200, 'DNI'] = None
togo_data.loc[togo_data['GHI'] > 1500, 'GHI'] = None
togo_data.loc[togo_data['DNI'] < 0, 'DNI'] = None
togo_data.loc[togo_data['DHI'] < 0, 'DHI'] = None

In [8]:
togo_data['Hour']=togo_data['Timestamp'].dt.hour
togo_data['Day']=togo_data['Timestamp'].dt.day
togo_data['Month']=togo_data['Timestamp'].dt.month
togo_data['Year']=togo_data['Timestamp'].dt.year

In [9]:
togo_data[['Timestamp','Hour','Day','Month','Year']].head()

            Timestamp  Hour  Day  Month  Year
0 2021-10-25 00:01:00     0   25     10  2021
1 2021-10-25 00:02:00     0   25     10  2021
2 2021-10-25 00:03:00     0   25     10  2021
3 2021-10-25 00:04:00     0   25     10  2021
4 2021-10-25 00:05:00     0   25     10  2021

In [10]:
togo_data['Timestamp'] = pd.to_datetime(togo_data['Timestamp'], errors='coerce')
df = togo_data.set_index('Timestamp')

In [11]:
df_daily = togo_data.resample('D', on='Timestamp').sum()
# Convert Wh/m² to kWh/m²
df_daily['GHI_kWh'] = df_daily['GHI'] / 1000
df_daily['DNI_kWh'] = df_daily['DNI'] / 1000
df_daily['DHI_kWh'] = df_daily['DHI'] / 1000

In [12]:
df_monthly = togo_data.resample('ME', on='Timestamp').mean()

In [13]:
# Diffusion Fraction: This tells us how cloudy or hazy the atmosphere is
togo_data['Diffuse_Fraction'] = togo_data['DHI'] / togo_data['GHI']

In [14]:
togo_data['Diffuse_Fraction'].describe()

c:\Users\MOON\AppData\Local\Programs\Python\Python314\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    2.678010e+05
mean              inf
std               NaN
min      0.000000e+00
25%      3.875486e-01
50%      6.438776e-01
75%      9.380342e-01
max               inf
Name: Diffuse_Fraction, dtype: float64

In [15]:
#Direct Beam Strength
togo_data['Beam_Ratio'] = togo_data['DNI'] / togo_data['GHI']

In [16]:
# Step 1: Convert the time column to datetime if it's not already
togo_data['Timestamp'] = pd.to_datetime(togo_data['Timestamp'])

# Step 2: Set it as the index
togo_data.set_index('Timestamp', inplace=True)

# Step 3: Now resample and compute standard deviation
ghi_hourly_std = togo_data.resample('H').GHI.std()

C:\Users\MOON\AppData\Local\Temp\ipykernel_10448\4171566244.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ghi_hourly_std = togo_data.resample('H').GHI.std()

In [17]:
ghi_daily_std = togo_data.resample('D').GHI.std()

In [18]:
df_daily['PSH'] = df_daily['GHI_kWh']
df_daily['PSH'].describe()

count    366.000000
mean     332.763371
std       73.107979
min        0.000000
25%      307.430750
50%      351.771200
75%      381.531150
max      432.576700
Name: PSH, dtype: float64

In [19]:
df_daily.groupby(df_daily.index.month)['PSH'].mean()

Timestamp
1     346.055206
2     373.785550
3     365.231887
4     364.752140
5     344.572658
6     343.242527
7     293.492374
8     273.037413
9     256.876783
10    344.123322
11    355.366553
12    335.878590
Name: PSH, dtype: float64

In [20]:
togo_data[['GHI', 'TModA']].corr()

            GHI     TModA
GHI    1.000000  0.842165
TModA  0.842165  1.000000

In [21]:
togo_data[['WS', 'TModA']].corr()

             WS     TModA
WS     1.000000  0.328273
TModA  0.328273  1.000000

In [26]:
# Remove night time and bad sensor readings
df_togo = togo_data[togo_data['GHI']>20].copy()

In [34]:
# Keep only valid daylight rows
df_togo_day = togo_data[togo_data['GHI'] > 50].copy()  # GHI > 50 to avoid tiny denominator

# Compute ratios safely
df_togo_day['Diffuse_Fraction'] = df_togo_day['DHI'] / df_togo_day['GHI']
df_togo_day['Beam_Ratio'] = df_togo_day['DNI'] / df_togo_day['GHI']

# Remove impossible values
df_togo_day.loc[(df_togo_day['Diffuse_Fraction'] < 0) | (df_togo_day['Diffuse_Fraction'] > 1), 'Diffuse_Fraction'] = None
df_togo_day.loc[(df_togo_day['Beam_Ratio'] < 0) | (df_togo_day['Beam_Ratio'] > 1.2), 'Beam_Ratio'] = None

# Interpolate missing values
df_togo_day[['Diffuse_Fraction', 'Beam_Ratio']] = df_togo_day[['Diffuse_Fraction', 'Beam_Ratio']].interpolate()

# Check results
df_togo_day[['Diffuse_Fraction','Beam_Ratio']].describe()

       Diffuse_Fraction     Beam_Ratio
count     234269.000000  234269.000000
mean           0.603801       0.560076
std            0.267010       0.395679
min            0.078219       0.000000
25%            0.365955       0.153087
50%            0.573210       0.610264
75%            0.882443       0.886706
max            1.000000       1.200000

In [38]:
summary = {
    'Annual_GHI_kWh' : df_daily['GHI_kWh'].sum(),
    'Average_PSH' : df_daily['GHI_kWh'].mean(),
    'Diffuse_Fraction_mean' : df_togo_day['Diffuse_Fraction'].mean(),
    'Beam_Ratio_mean' : df_togo_day['Beam_Ratio'].mean(),
    'GHI_hourly_std_mean' : ghi_hourly_std.mean(),
    'GHI_daily_std_mean' : ghi_daily_std.mean(),
    'Avg_Temperature' : df['TModA'].mean(),
    'Avg_Wind' : df['WS'].mean(),
    'Total_Precip_mm' : df['Precipitation'].sum(),
}

In [39]:
summary_df=pd.DataFrame([summary])

In [40]:
summary_df

,Annual_GHI_kWh,Average_PSH,Diffuse_Fraction_mean,Beam_Ratio_mean,GHI_hourly_std_mean,GHI_daily_std_mean,Avg_Temperature,Avg_Wind,Total_Precip_mm
0,121791.3938,332.763371,0.603801,0.560076,70.118241,298.24188,32.444403,2.368093,726.4

In [41]:
summary_df.to_csv("togo_summary.csv",index=False)